---
const today = new Date();
---

<footer class="mt-8 text-center">
  &copy; {today.getFullYear()} <a href="https://twitter.com/tangledcircuit" target="_blank" class="hover:text-primary">Tangled Circuit</a>. All rights reserved.
</footer>
